<footer class="footer">
    <div class="row inner">
      <div class="col-7 col-lg-6 col-md-8 col-sm-8">
        <div class="item">
          <h1 class="item-title">Visit us</h1>
          <p class="item-text">306 W. Franklin St., Suite F, Chapel Hill, NC, 27516</p>
        </div>
        <div class="item">
          <h1 class="item-title">Say hello</h1>
          <p class="item-text">hello@proofsystems.io 919-504-4446</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-2 col-sm-4 col-4">
        <div class="social">
          <a href="https://www.facebook.com/ProofSystems/">Facebook</a>
          <a href="https://twitter.com/ProofSystems">Twitter</a>
          <a href="https://www.instagram.com/proofsystem/">Instagram</a>
          <a href="#">Dribbble</a>
        </div>
      </div>
    </div>
  </footer>

