<app-test-header [startAnim]="startAnim"></app-test-header>

<div class="onix-page" data-midnight="default">
  <div class="onix-header" style="background-image: url(../../../assets/onix-capital.png)">
    <div class="container">
      <h4>Logo and website design</h4>
      <h5>Onix Capital</h5>
      <p>Onix Capital is a USA-based company specializing in Neque porro quisquam est, qui dolorem ipsum quia dolor sit
        amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid etc.</p>
      <ul>
        <li>Client: <b>Onix Capital</b>
        </li>
        <li>
          Year: <b>2019</b>
        </li>
      </ul>
    </div>
  </div>




  <div class="onix-logo">
    <div class="container" data-midnight="black">
      <h4 class="onix-h4">Logo & Stationary </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Consequat nisl vel pretium lectus quam id leo in. Morbi tristique senectus et netus et. </p>
      <div class="row">
        <div class="col-6">
          <img src="../../../../assets/onix-1.jpg">
        </div>
        <div class="col-6">
          <img src="../../../../assets/onix-2.jpg">
        </div>
      </div>
    </div>



    <div class="onix-logo branding" data-midnight="black">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img src="../../../../assets/onix-3.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="onix-logo website" data-midnight="default">
      <div class="container">
        <h4 class="onix-h4">Website</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Consequat nisl vel pretium lectus quam id leo in. Morbi tristique senectus et netus et. </p>
        <div class="row">
          <div class="col-12">
            <img src="../../../../assets/onix-4.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="next-projects" data-midnight="black">
    <div class="container">
      <h3>Next projects </h3>
      <section class="row">
        <div class="col-6">
          <app-square-img-anim [bg]="'#c12049'" [title]="'Token Generator'" [caption]="'Branding, web design'">
            <img class="img" src="../../../assets/token-generator_1.png" alt="">
          </app-square-img-anim>
        </div>

        <div class="col-6">
          <app-square-img-anim [bg]="'#edf1f7'" [title]="'GlobalChain Group'" [caption]="'Branding, web design'">
            <img class="img" src="../../../assets/gcg_1.png" alt="">
          </app-square-img-anim>

        </div>
      </section>
    </div>

  </div>
  <app-intro [page_name]="'CONTACT'"></app-intro>
  <app-footer></app-footer>