<app-test-header  [startAnim]="startAnim"></app-test-header>

<div class="blakelye-page">
  <div class="blakelye-header"  data-midnight="black" style="background-image: url(../../../assets/case-study-1.png)">
    <div class="container">
      <h4>Logo and website design</h4>
      <h5>Blakeley</h5>
      <p>Blackley is a USA-based company specializing in 
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
        consectetur, adipisci velit, sed quia non numquam
         eius modi tempora incid etc.</p>
    </div>
  </div>




  <div class="blakelye-logo"  >
    <div class="container" data-midnight="black">
    <h4 class="blakelye-h4">Stationary</h4>
    <p>Consectetur adipiscing elit pellentesque habitant 
      morbi tristique senectus. Sagittis nisl rhoncus mattis 
      rhoncus urna. Aenean sed adipiscing diam donec adipiscing tristique risus.</p>
  <div class="row">
    <div class="col-6">
           <img src="../../../../assets/group1.png">
    </div>
    <div class="col-6">
     
        <img src="../../../../assets/group2.png">
 </div>
 </div>
  </div>



  <div class="blakelye-logo"  data-midnight="black">
      <div class="container">
      <h4 class="blakelye-h4">Stationary</h4>
      <p>Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Sagittis nisl rhoncus mattis rhoncus urna. Aenean sed adipiscing diam donec adipiscing tristique risus.</p>
    <div class="row">
      <div class="col-12">
             <img src="../../../../assets/group3.png">
             </div>
   </div>
    </div>
 </div>

    <div class="blakelye-logo website"  data-midnight="default">
        <div class="container">
        <h4 class="blakelye-h4">Website</h4>

        <p>Blackley is a USA-based company specializing in Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid etc.</p>
      <div class="row">
        <div class="col-12">
               <img src="../../../../assets/website1.png">
     </div>
      </div>
  </div>
</div>  
</div>
<div class="next-projects"  data-midnight="black">
    <div class="container">   
      <h3 >Next projects </h3>
       <section class="row">
      <div class="col-6">
          <app-square-img-anim [bg]="'#1c1e23'" 
          [title]="'Metacert Protocol'"
          [caption]="'Branding'">
      <img  class="img" src="../../../assets/metacert_1.png" alt="">
      </app-square-img-anim>
      </div>

      <div class="col-6">
          <app-square-img-anim [bg]="'#edf1f7'" 
          [title]="'GlobalChain Group'"
          [caption]="'Advertising'"
         > 
         <img  class="img" src="../../../assets/gcg_1.png" alt="">
        </app-square-img-anim>
  
    </div> 
   </section>
    </div>

  </div>
  <app-intro [page_name]="'CONTACT'"></app-intro>
<app-footer></app-footer>