<app-test-header  [startAnim]="startAnim"></app-test-header>

<section class="token-generator" data-midnight="default">


    <div class="blakelye-header" style="background-image: url(../../../assets/token-generator.png)">
      <div class="container">
        <h4>Logo and website design</h4>
        <h5>Token Generator</h5>
        <p>Token Generator is a USA-based company specializing in Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur. Morbi tristique senectus et netus et. </p>
      </div>
    </div>


<div class="blakelye-logo" data-midnight="black">
  <div class="container" >
    <div class="row">

      <div class="col-6">
<h4 class="blakelye-h4" style="padding-top: 200px;">Logo</h4>
  <p>Consectetur adipiscing elit pellentesque habitant 
    morbi tristique senectus. Sagittis nisl rhoncus mattis 
    rhoncus urna. Aenean sed adipiscing diam donec adipiscing tristique risus.</p>
      </div>

    </div>
  
<div class="row">
  <div class="col-6">
         <img src="../../../../assets/token2.png">
  </div>
  <div class="col-6 laptop">
      <section class="inner-laptop">
          <img src="../../../../assets/laptop.png">
      </section>
      <img src="../../../../assets/token1.png">
</div>
</div>
</div>



<div class="blakelye-logo">
    <div class="container">
  <div class="row">
    <div class="col-12">
           <img src="../../../assets/generator-watch.png">
           </div>
 </div>
  </div>
</div>

<div class="blakelye-logo website">
    <div class="container">
    <h4 class="blakelye-h4">Landing Page</h4>

    <p>Our main objective for this project was to make the shopping, measuring and ordering process easy and seamless. To do so, we created an interactive section that walks the user through the ordering process. By integrating the site with their app technology, 
      we created a smooth experience that drives app downloads and increases conversions.</p>
  <div class="row">
    <div class="col-12">
           <img src="../../../../assets/generator-landing.png">
 </div>
  </div>
</div>


</div>  
</div>



<app-intro [page_name]="'CONTACT'"></app-intro>
  <app-footer></app-footer>