<app-test-header  [startAnim]="startAnim"></app-test-header>

<div class="group-page">
  <div class="group-header"  data-midnight="default" style="background-image: url(../../../assets/case-study2.png)">
    <div class="container">
      <h4>GlobalChain<br>Group</h4>
      <p>Logo and website design</p>
    </div>
  </div>


  <div class="group-logo"  data-midnight="black">
    <div class="container">
      <h4 class="group-h4">Logo</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consequat nisl vel pretium lectus quam id leo in. Morbi tristique senectus et netus et..</p>
      <div class="row">
        <div class="col-12">
          <img src="../../../../assets/group-img1.png">
        </div>

        <div class="col-6 offset-3">
          <img style="max-width: 628px;" src="../../../../assets/Asset9@4x.png">
        </div>
      </div>

      <div class="row global-chain-row">
        <div class="col-4">
          <div class="global-chain">
            <img  src="../../../../assets/Asset9@4x.png">
          </div>
        </div>

        <div class="col-4">
          <div class="global-chain">
            <img  src="../../../../assets/Asset9@4x.png">
          </div>
        </div>
        <div class="col-4">
          <div class="global-chain">
            <img  src="../../../../assets/Asset9@4x.png">
          </div>
        </div>
      </div>

      <div class="row margin-bottom">
        <div class="col-12">
          <img  src="../../../../assets/04.png">
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <img  src="../../../../assets/7.png">
        </div>
        <div class="col-6">
          <img  src="../../../../assets/012.png">
        </div>
      </div>

    </div>


    <div class="group-logo illustration">
      <div class="container">
        <h4 class="group-h4">Illustrations</h4>
        <p>Blackley is a USA-based company specializing in Neque porro quisquam est,
          qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          sed quia non numquam eius modi tempora incid etc.</p>
        <div class="row">
          <div class="col-6">
            <div class="illustration-item">
              <section class="illustration-item-img">
                <img src="../../../../assets/illustration-item1.png">
              </section>
              <h3>Lorem ipsum</h3>
            </div>
          </div>
          <div class="col-6">
            <div class="illustration-item">
              <section class="illustration-item-img">
                <img src="../../../../assets/illustration-item2.png">
              </section>
              <h3>Lorem ipsum</h3>
            </div>
          </div>

          <div class="col-6">
            <div class="illustration-item">
              <section class="illustration-item-img">
                <img src="../../../../assets/illustration-item3.png">
              </section>
              <h3>Lorem ipsum</h3>
            </div>
          </div>
          <div class="col-6">
            <div class="illustration-item">
              <section class="illustration-item-img">
                <img src="../../../../assets/illustration-item4.png">
              </section>
              <h3>Lorem ipsum</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <section class="website-block">

    <div class="container">
   <h3>Website</h3>
   <p>Our main objective for this project was
      to make the shopping, measuring and ordering process easy and seamless. To do so, we created an interactive section that walks the user through the ordering process. By integrating the site with their app technology, we created a smooth experience that drives app downloads and increases conversions.</p>
    </div>
  </section>
  <app-intro [page_name]="'CONTACT'"></app-intro>
  <app-footer></app-footer>
